:root{
  --thin: 100;
  --light: 350;
  --regular: 400;
  --bold: 700;
  --heavy: 900;
}
@font-face {
  font-family: "aileron", sans-serif;
  src: url("fonts/Aileron-Regular.otf") format("opentype");
  src: url("fonts/aileron-regular-webfont.woff2") format("woff2");
  src: url("fonts/aileron-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  font-family: "aileron", sans-serif;
  font-weight: var(--regular);
}
body {
  width: 100vw;
  overflow-x: hidden;
  height: 200vh;
  margin: 0;
}
nav {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 997;
}
a {
  font-weight: var(--light);
  cursor: pointer;
  text-decoration: none;
  color: #474747;
  font-size: 2.5rem;
  margin-left: 25px;
  margin-right: 25px;
  z-index: 999;
}
p {
  font-weight: var(--light);
  font-size: 2rem;
  max-width: 70%;
  color: black;
}
nav > div {
  width: 100vw;
  text-align: center;
  margin-left: 1.75%;
  z-index: 998;
  transition: opacity 400ms ease;
}
main {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url(img/background_zeidashweb.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#second {
  position: relative;
  background-image: url(img/background_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: left;
  align-items: center;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100vh;
}
#second > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 66%;
  height: 100%;
}
#content-container {
  display: flex;
  flex-direction: column;
}
main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > div > div {
  margin-top: 25px;
  text-align: center;
}
img {
  height: 250px;
  margin-bottom: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
h1 {
  font-weight: var(--heavy);
  font-size: 6.5rem;
  color: #121212;
  margin: 0;
  z-index: 2;
}
i {
  font-style: normal;
  font-weight: var(--thin);
}
h2 {
  font-weight: var(--light);
  margin: 0;
  color: #121212;
  font-size: 2.75rem;
  z-index: 2;
}

@media only screen and (max-width: 1000px) {
  #second > div {
    width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
    max-width: 85%;
    text-align: center;
  }
  main {
    background-image: none;
  }
  #second {
    background-image: none;
    background-color: #00ffab;
  }
}
